In [49]:
from data_loader import load_and_preprocess_data_sql

server = "localhost"
database = "finance_metric"
table_name = "KPI_Finance_Data"

df = load_and_preprocess_data_sql(server, database, table_name)
print(df.head())

                    MEP                            Accounts      FY22 Q1  \
0  GSS Bangalore, IND_1                   Direct Labor Cost   4166343.78
1  GSS Bangalore, IND_1              IDL/Salaries and Wages   7367939.94
2  GSS Bangalore, IND_1                          KPI: COP %        12.66
3  GSS Bangalore, IND_1  KPI: Controllable Operating Profit  31533792.48
4  GSS Bangalore, IND_1                           KPI: DL %        16.42

       FY22 Q2      FY22 Q3      FY22 Q4      FY23 Q1      FY23 Q2  \
0  12994591.17  13081959.22  13910275.00  11348940.44  14449052.56
1   2330000.02   8437150.69   2653006.12   5186800.04   2302528.99
2        12.04        12.55        21.19        13.49         5.45
3  32114752.59  11314923.35  41088874.87  36605482.98  11738280.77
4        16.96        14.36         9.43        19.40        10.70

      FY23 Q3      FY23 Q4      FY24 Q1      FY24 Q2     FY24 Q3      FY24 Q4  \
0  7642529.95   5155482.50   9334056.42   8783393.32  5945475.78  11696138.89
1  5678394.54   1493057.23   2145066.80   4319647.54  2191677.87   1659342.84
2       20.08         8.81        24.73        18.43       24.02        21.93
3  5601462.38  48582378.41  49669277.42  37437620.18  7549830.18  12300551.91
4       12.41         7.11         9.22         8.29       10.04        18.06

       FY25 Q1      FY25 Q2      FY25 Q3      FY25 Q4
0   7634796.05   2801577.55  11212577.54  12585467.60
1   1804557.13   1832875.90   9992780.22   8469846.19
2        19.93        15.81        23.15        12.97
3  38968501.52  25829945.77  28656870.25  18500181.31
4         7.11        18.12        12.56        15.22

In [61]:
df.isna().sum().sort_values(ascending=False)

MEP         0
Accounts    0
FY22 Q1     0
FY22 Q2     0
FY22 Q3     0
FY22 Q4     0
FY23 Q1     0
FY23 Q2     0
FY23 Q3     0
FY23 Q4     0
FY24 Q1     0
FY24 Q2     0
FY24 Q3     0
FY24 Q4     0
FY25 Q1     0
FY25 Q2     0
FY25 Q3     0
FY25 Q4     0
dtype: int64

In [62]:
print("Forecasting for quarters:", forecast_quarters)

NameError: name 'forecast_quarters' is not defined

In [50]:
from data_preprocessing import (
    preprocess_for_rf,
    preprocess_for_sarima,
    preprocess_for_correlation_model,
)


X_rf, y_rf_dict, meta_rf = preprocess_for_rf(df)
df_sarima = preprocess_for_sarima(df)
df_corr = preprocess_for_correlation_model(df)

In [6]:
df_sarima.head(5)

,MEP,Accounts,Quarter,Value
0,"GSS Bangalore, IND_1",Direct Labor Cost,FY22 Q1,4166343.78
1,"GSS Bangalore, IND_1",IDL/Salaries and Wages,FY22 Q1,7367939.94
2,"GSS Bangalore, IND_1",KPI: COP %,FY22 Q1,12.66
3,"GSS Bangalore, IND_1",KPI: Controllable Operating Profit,FY22 Q1,31533792.48
4,"GSS Bangalore, IND_1",KPI: DL %,FY22 Q1,16.42

In [7]:
df_corr.head(5)

Accounts,MEP,Quarter,Direct Labor Cost,IDL/Salaries and Wages,KPI: COP %,KPI: Controllable Operating Profit,KPI: DL %,DL_HC,KPI: IDL %,IDL_HC,...,KPI: MM %,KPI: Material Loss %,KPI: Std VAM %,KPI: Std VAM from Ops,KPI: Std VAM from Ops %,KPI: Total Sales from Ops,Material Loss,Material Margin,Std VAM,Total Sales
0,"GSS Bangalore, IND_1",FY22 Q1,4166343.78,7367939.94,12.66,31533792.48,16.42,1167.0,10.21,58.0,...,10.51,8.81,33.12,75481818.22,44.08,1.394849e+08,1452583.73,85699307.27,30627167.36,2.985897e+08
1,"GSS Bangalore, IND_1",FY22 Q2,12994591.17,2330000.02,12.04,32114752.59,16.96,1179.0,4.18,262.0,...,38.32,3.22,24.66,79418805.10,25.58,1.647199e+08,1263300.12,39780600.53,31333433.40,2.800623e+08
2,"GSS Bangalore, IND_1",FY22 Q3,13081959.22,8437150.69,12.55,11314923.35,14.36,668.0,9.32,114.0,...,38.21,3.16,30.65,16004515.12,26.99,3.241474e+07,4319942.33,52271485.25,16846515.39,1.713475e+08
3,"GSS Bangalore, IND_1",FY22 Q4,13910275.00,2653006.12,21.19,41088874.87,9.43,1064.0,13.03,33.0,...,25.13,3.37,46.82,36009582.49,36.83,1.637716e+08,4411551.63,57435290.22,20868731.41,2.048237e+08
4,"GSS Bangalore, IND_1",FY23 Q1,11348940.44,5186800.04,13.49,36605482.98,19.40,291.0,10.80,369.0,...,23.27,6.15,42.60,27788041.34,32.27,9.845802e+07,3012753.64,66346662.17,87977851.85,2.950592e+08

In [8]:
y_rf_dict

{'FY25 Q2': 0       2.801578e+06
 1       1.832876e+06
 2       1.581000e+01
 3       2.582995e+07
 4       1.812000e+01
             ...
 1795    1.137995e+08
 1796    6.195843e+06
 1797    5.375067e+07
 1798    8.205633e+07
 1799    2.247128e+08
 Name: FY25 Q2, Length: 1800, dtype: float64,
 'FY25 Q3': 0       1.121258e+07
 1       9.992780e+06
 2       2.315000e+01
 3       2.865687e+07
 4       1.256000e+01
             ...
 1795    1.870822e+08
 1796    7.276705e+06
 1797    5.750302e+07
 1798    7.022101e+07
 1799    6.795070e+07
 Name: FY25 Q3, Length: 1800, dtype: float64,
 'FY25 Q4': 0       1.258547e+07
 1       8.469846e+06
 2       1.297000e+01
 3       1.850018e+07
 4       1.522000e+01
             ...
 1795    1.158015e+08
 1796    7.679555e+06
 1797    6.827284e+07
 1798    6.212551e+07
 1799    2.995171e+08
 Name: FY25 Q4, Length: 1800, dtype: float64}

In [51]:
# Notebook Cell 1

from model_training import (
    train_random_forest_model,
    train_sarima_model,
    train_correlation_model
)

from forecasting import (
    predict_random_forest,
    predict_sarima,
    predict_correlation
)

In [52]:
# Notebook Cell 2

rf_models = train_random_forest_model(X_rf, y_rf_dict, meta_rf)

print(f"✅ Trained RF models for {len(rf_models)} (MEP, KPI, Quarter) combinations.")

✅ Trained RF models for 5400 (MEP, KPI, Quarter) combinations.

In [40]:
import importlib
import forecasting

importlib.reload(forecasting)

from forecasting import predict_random_forest

In [53]:
rf_results = predict_random_forest(X_rf, y_rf_dict, meta_rf, rf_models)
rf_results.head(5)

Empty DataFrame
Columns: []
Index: []

In [56]:
print(rf_results.head())

Empty DataFrame
Columns: []
Index: []

In [43]:
# Notebook Cell 4

sarima_models = train_sarima_model(df_sarima)
print(f"✅ SARIMA trained on {len(sarima_models)} MEP-KPI pairs.")

✅ SARIMA trained on 1800 MEP-KPI pairs.

In [58]:
print([col for col in df.columns if "FY25" in col])

['FY25 Q1', 'FY25 Q2', 'FY25 Q3', 'FY25 Q4']

In [59]:
print(df_corr['Quarter'].unique())

['FY22 Q1' 'FY22 Q2' 'FY22 Q3' 'FY22 Q4' 'FY23 Q1' 'FY23 Q2' 'FY23 Q3'
 'FY23 Q4' 'FY24 Q1' 'FY24 Q2' 'FY24 Q3' 'FY24 Q4' 'FY25 Q1' 'FY25 Q2'
 'FY25 Q3' 'FY25 Q4']

In [60]:
# Before dropping
print("Before dropping:", df_pivot[df_pivot["Quarter"] == "FY25 Q4"].shape)

# After dropping
print("After dropping:", df_corr[df_corr["Quarter"] == "FY25 Q4"].shape)

NameError: name 'df_pivot' is not defined

In [47]:
# Notebook Cell 5

sarima_results = predict_sarima(df_sarima, sarima_models)

print("✅ SARIMA Predictions shape:", sarima_results.shape)
sarima_results.head()

✅ SARIMA Predictions shape: (7200, 10)

,Model,MEP,KPI,Quarter,Actual,Predicted,MAE,WMAPE,RMSE,R2
0,SARIMA,"GSS Bangalore, IND_1",Direct Labor Cost,FY25 Q1,7634796.05,1.040776e+07,3.871354e+06,0.536472,4.423088e+06,-0.647001
1,SARIMA,"GSS Bangalore, IND_1",Direct Labor Cost,FY25 Q2,2801577.55,9.663364e+06,3.871354e+06,0.536472,4.423088e+06,-0.647001
2,SARIMA,"GSS Bangalore, IND_1",Direct Labor Cost,FY25 Q3,11212577.54,9.233266e+06,3.871354e+06,0.536472,4.423088e+06,-0.647001
3,SARIMA,"GSS Bangalore, IND_1",Direct Labor Cost,FY25 Q4,NaN,8.984765e+06,NaN,NaN,NaN,NaN
4,SARIMA,"GSS Bangalore, IND_1",IDL/Salaries and Wages,FY25 Q1,1804557.13,2.659417e+06,2.884621e+06,0.634903,4.402107e+06,-0.305130

In [45]:
# Notebook Cell 6

corr_models = train_correlation_model(df_corr)
print(f"✅ Correlation models trained: {len(corr_models)} (KPI) models.")

✅ Correlation models trained: 1620 (KPI) models.

In [48]:
# Notebook Cell 7

corr_results = predict_correlation(df_corr, corr_models)

print("✅ Correlation Predictions shape:", corr_results.shape)
corr_results.head()

✅ Correlation Predictions shape: (6480, 10)

,Model,MEP,KPI,Quarter,Actual,Predicted,MAE,WMAPE,RMSE,R2
0,Correlation,"GSS Bangalore, IND_1",Direct Labor Cost,FY25 Q1,7634796.05,1.002302e+07,3.790866e+06,0.525319,4.640797e+06,-0.813125
1,Correlation,"GSS Bangalore, IND_1",Direct Labor Cost,FY25 Q2,2801577.55,1.033908e+07,3.790866e+06,0.525319,4.640797e+06,-0.813125
2,Correlation,"GSS Bangalore, IND_1",Direct Labor Cost,FY25 Q3,11212577.54,9.765708e+06,3.790866e+06,0.525319,4.640797e+06,-0.813125
3,Correlation,"GSS Bangalore, IND_1",Direct Labor Cost,FY25 Q4,NaN,9.343017e+06,NaN,NaN,NaN,NaN
4,Correlation,"GSS Bangalore, IND_10",Direct Labor Cost,FY25 Q1,10927069.11,1.150706e+07,3.110823e+06,0.445675,3.922610e+06,-0.221779